html {
    width: 100%;
    height: 100%;
    min-width: 850px;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: #00c0ef;
    color: #fff;
}

.header img {
    margin: 10px 20px;
    padding: 10px;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.infobar {
    height: 50px;
    background-color: #00aed4;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.infobar .role {
    height: 100%;
    width: 160px;
    background-color: #0a98ba;
    display: flex;
    align-items: center;
}

.infobar .role .icon {
    background: lightblue;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 0 10px 0 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
}

.container {
    display: flex;
    height: calc(100% - 130px);
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #2e3c44;
    min-width: 160px;
}

.menu button {
    background: none;
    border: none;
    padding: 10px 50px 10px 10px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    text-align: right;
}

.menu button.selected {
    background-color: #1a2327;
    border-left: 6px solid #01498e;
}

.books,
.add {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.bookItem,
.addItem {
    display: flex;
    width: calc(100% - 82px);
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.bookItem img,
#cover-preview {
    height: 150px;
    width: 100px;
    min-width: 100px;
}

#cover-preview {
    border: 1px dashed #ccc;
    background-size: cover;
    background-position: center;
}

.bookInfo {
    padding: 0 20px;
    margin: 0 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    flex-grow: 1;
}

.bookInfo .location {
    margin-bottom: 10px;
}

.bookInfo .borrowInfo {
    padding-top: 5px;
    border-top: 1px dashed #ccc;
}

.action {
    display: flex;
    flex-direction: column;
}

.action button {
    margin-bottom: 10px;
    background-color: #00c0ef;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    min-width: 75px;
}

.action button:disabled {
    background-color: #ddd;
    cursor: auto;
}

.addItem .bookInfo div {
    display: flex;
    margin-bottom: 8px;
}

.addItem .bookInfo div input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#new-book-floor,
#new-book-bookshelf {
    width: 50px;
}